<h2>Your Cart</h2>

<div *ngIf="cartItems.length === 0">
  Cart is empty
</div>

<div *ngFor="let item of cartItems" style="border:1px solid gray; padding:10px; margin:10px">
  <h3>{{item.name}}</h3>
  <p>Price: ₹{{item.price}}</p>
  <p>Quantity: {{item.quantity}}</p>

  <button (click)="remove(item.id)">Remove</button>
</div>

<h2 *ngIf="cartItems.length > 0">
  Total: ₹{{total}}
  <button routerLink="/checkout" class="btn btn-primary">
    Proceed to Checkout
  </button>
  <button routerLink="/order-summary" class="btn btn-primary">
    Proceed to Order Summary
  </button>
  
</h2>
