<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/">🛒 MyShop</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu">

    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>

    <!-- Search Bar -->
    <input
      type="text"
      placeholder="Search..."
      (input)="search($event)"
      class="form-control w-25 me-3"
    />

    <!-- If Logged In -->
    <div *ngIf="isLoggedIn; else guest">
      <span class="text-white me-2">
        Welcome, <b>{{username}}</b>
      </span>

      <button class="btn btn-danger me-2" (click)="logout()">Logout</button>
    </div>

    <!-- If Not Logged In -->
    <ng-template #guest>
      <a routerLink="/login" class="btn btn-success me-2">Login</a>
    </ng-template>

    <!-- Cart Button -->
    <a routerLink="/cart" class="btn btn-warning">
      Cart
      <span class="badge bg-danger ms-1">{{cartCount}}</span>
    </a>

  </div>
</nav>
