<h2 class="mb-3">Products</h2>

<div class="row">

  <div class="col-md-3 mb-4" *ngFor="let p of filteredProducts">

    <div class="card p-2">

      <img [src]="p.image" class="card-img-top" style="height:180px; object-fit:cover">

      <div class="card-body text-center">
        <h5>{{p.name}}</h5>

        <h4 class="text-success">₹{{p.price}}</h4>

        <button class="btn btn-primary w-100 mb-2" (click)="add(p)">
          Add to Cart
        </button>

        <a class="btn btn-outline-dark w-100" [routerLink]="['/product', p.id]">
          View Details
        </a>

      </div>

    </div>

  </div>

</div>
