
<div class="container mt-4 shadow p-4 bg-white rounded" style="max-width:600px">

  <h2>Checkout</h2>
  <hr>

  <h4>Shipping Address</h4>

  <input class="form-control mb-2" [(ngModel)]="name" placeholder="Full Name">

  <input class="form-control mb-2" [(ngModel)]="address" placeholder="Address">

  <input class="form-control mb-2" [(ngModel)]="phone" placeholder="Phone Number">

  <hr>

  <h4>Payment Method</h4>

  <select class="form-control mb-3" [(ngModel)]="paymentMethod">
    <option value="COD">Cash On Delivery</option>
    <option value="CARD">Credit / Debit Card</option>
    <option value="UPI">UPI</option>
  </select>

  <button class="btn btn-primary" (click)="proceed()">
    Continue to Order Summary
  </button>

</div>
